{% extends "app/wrapper.html" %}
{% block content %}
<h1 class="card-title">Hello {{ request.user|title }}</h1>
<p class="card-text">You have {{ count }} incomplete task{{ count|pluralize:"s"}}</p>
<hr>
<form class="my-3" action="" method="GET">
    <div class="search">
        <input class="form-control text" type="text" name="search">
        <input class="btn btn-warning submit" type="submit" value="Search">
    </div>
</form>

{% for task in tasks %}

{% if task.completed %}

<div class="items border-bottom">
    <p> 
        <i class="bi bi-check-circle-fill text-success"></i>
        <s>
        <a class="task-item mx-3" href="{% url 'edit' task.id %}">{{ task }}</a>
    </s>
    <a class="btn btn-sm btn-outline-danger delete" href="{% url 'delete' task.id %}">X</a>
        
    </p>
</div>
{% else %}
<div class="items border-bottom">
    <p>
        <i class="bi bi-circle-fill"></i>
        <a class="task-item mx-3" href="{% url 'edit' task.id %}">{{ task }}</a> 
        <a class="btn btn-sm btn-outline-danger delete" href="{% url 'delete' task.id %}">X</a>
      
    </p>
</div>

{% endif %}
    
    {% empty %}
    <p class="text-center p-3">No found task <br>click the + icon to add new task</p>
    <hr>
    {% endfor %}
    <div class="new">
        <p class="text-center">
    <a href="{% url 'newtask' %}">+</a>
</p>
</div>
{% endblock %}