{% extends "app/wrapper.html" %}
{% block content %}
<h1 class="card-title">Hello {{ request.user|title }}</h1>
<p class="card-text">You have {{ count }} incomplete task{{ count|pluralize:"s"}}</p>
<hr>
<form action="" method="GET">
    <div class="search">
        <input class="form-control text" type="text" name="search">
        <input class="btn btn-warning submit" type="submit" value="Search">
    </div>
</form>
<a href="{% url 'newtask' %}" style="font-size: 30px;">+</a>
{% for task in tasks %}

{% if task.completed %}

<div class="completed"></div>
<div class="items border-bottom">
    <p>
        <s>
        <a href="{% url 'edit' task.id %}">{{ task }}</a>
    </s>
    <a class="btn btn-sm btn-outline-danger" href="{% url 'delete' task.id %}">X</a>
        
    </p>
</div>
{% else %}
<div class="not-completed"></div>
<div class="items border-bottom">
    <p>
      
        <a href="{% url 'edit' task.id %}">{{ task }}</a> <a href="{% url 'delete' task.id %}">delete</a>
      
    </p>
</div>

{% endif %}
    
    {% empty %}
    <p>No found task</p>
    {% endfor %}

{% endblock %}