{% extends "app/wrapper.html" %}
{% block content %}
<h1>Sign Up</h1>
<hr>
<form  class="newtask" action="" method="POST">
    {% csrf_token %}
    <div class="">
        <label class="form-label" for="username">{{ form.username.label }}</label>
    {{ form.username }}
</div>
    <div class="">
        <label class="form-label" for="email">{{ form.email.label }}</label>
    {{ form.email }}
</div>
    <div class="">
        <label class="form-label" for="password1">{{ form.password1.label }}</label>
    {{ form.password1 }}
</div>
    <div class="">
        <label class="form-label" for="password2">{{ form.password2.label }}</label>
    {{ form.password2 }}
</div>

    <input class="btn btn-lg btn-warning my-3" type="submit" value="Register">
</form>
<p> already have an account? 
<a href="{% url 'login' %}">Login</a>
</p>
{% endblock %}