body {
  background-color: aquamarine;
}

.completed,
.not-completed {
  justify-content: space-between;
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.completed {
  background-color: green;
}
.not-completed {
  background-color: grey;
}

.items {
  display: flex;
}

input,
textarea,
button {
  padding: 8px;
  margin: 8px;
  width: 100%;
}
