body {
  background-color: aquamarine;
}

.completed,
.not-completed {
  justify-content: space-between;
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.completed {
  background-color: green;
}
.not-completed {
  background-color: grey;
}

.items {
  display: flex;
}

input,
textarea {
  padding: 10px;
  width: 100%;
}
.newtask {
  padding: 10px;
}
.search {
  width: auto;
  display: flex;
  border: 1px solid grey;
}

.search .submit {
  width: auto;
  border-radius: 0px;
}
.search .text {
  border: none;
}
